body{
    background-color: whitesmoke;
    
}

h6{
    font-family: Charter;
    background-color: black;
    color: whitesmoke;
    height: 100px;
}


h1{
    text-align: center;
    font-family: Charter;
}

.container1{
    padding-left: 30px;
}


#house1{
    width: 300px;
    height: 300px;
}

#para1{
    font-family: Charter;
}
#btn{
    
}

#house2{
    width: 300px;
    height: 300px;
}
#para2{
    font-family: Charter;
}

#house3{
    width: 300px;
    height: 300px;
}
#para3{
    font-family: Charter;
}

#house4{
    width: 300px;
    height: 300px;
    margin-top: 20px;
}
#para4{
    font-family: Charter;
}

#house5{
    width: 300px;
    height: 300px;
    margin-top: 20px;
}
#para5{
    font-family: Charter;
}

#house6{
    width: 300px;
    height: 300px;
    margin-top: 20px;
}
#para6{
    font-family: Charter;
}
